$slot_width : 79px;

$slot_height : 79px;

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot {
    width: 3.5 * $slot_width;
    height: 3 * $slot_height;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3 * $slot_width;

    .reel {
        width: $slot_width;
        height: $slot_height * 3;
        border: 1px solid black;
        background-image: url("../1313.png");
        background-repeat: repeat-y;
        background-position: 0 10px;
    }
}