$slot_width : 104px;

$slot_height : 104px;

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot {
    width: 4 * $slot_width;
    height: 3 * $slot_height;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.33 * $slot_width;

    .reel {
        position: relative;
        width: $slot_width;
        height: $slot_height * 3;
        border: 1px solid black;
        background-image: url("../0625.png");
        // margin-left: auto;
        // margin-right: auto;
        background-repeat: repeat-y;
        background-position: 0 10px;
    }
}